@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #110;
    color: white;
}

form, #weather {
    /* background: pink; */
    display: block;
    width: 100%;
    max-width: 400px;
    margin:50px auto;
    text-align: center;
}

input[type="text"] {
    display: block;
    width:100%;
    background: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid #888;
    font-size: 1.2rem;
    padding: 5px 0;
}


input[type="text"]:focus {
    border-color: #ff521f;
    outline:0;
}

ul {
    list-style: none;
    text-align: left;;
}

ul li{
    background-color: #333;
    margin-top: 2px;
    padding: 10px;
    cursor: pointer;
}

ul li span {
    color: #777;
}

#city {
    color: orangered;
}

button#change {
    border: 2px solid #888;
    background: transparent;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;

}
/* https://youtu.be/J4WSmVX6Lhg?t=1198 */