@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --left-bg-color: rgba(87,84,236,0.7);
    --right-bg-color: rgba(43,43,43,0.7);
    --hover-width: 75%;
    --other-width: 25%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-transform: capitalize;
    white-space: nowrap;
}

.btn {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    width: 15rem;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.2s linear;
}

.btn:hover {
    background-color: green;
    border: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.4s linear;
}

.split.left {
    left: 0;
    background: url("./img/ps5.jpg") no-repeat center;
    background-size: cover;
}

.split.left::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url("./img/xbox.jpg") no-repeat center;
    background-size: cover;
}

.split.right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        top: 40%
    }
    .btn {
        width: 10rem;
        font-size: 0.75rem;
        top: 50%;
    }
}